/* Write CSS here */
body {
  font-family: 'Roboto';
}

.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
  background-size: cover;
  padding: 40px 20px;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
    padding: 10%;
  }
}

h1 {
  color: #333333;
  text-align: center;
  font-size: 40px;
}

@media screen and (min-width: 768px) {
  h1 {
    text-align: left;
    font-size: 50px;
  }
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  border-radius: 12px;
  padding: 40px 30px;
}

@media screen and (min-width: 768px) {
  .timer-container {
    position: absolute;
  }
}

.timer-img-container {
  display: flex;
  align-items: center;
}

.timer-img-container > img {
  width: 35px;
}

.timer-img-container > p {
  font-size: 30px;
  font-weight: 500;
  margin: 0 0 0 10px;
}

.timer-container > p {
  font-size: 40px;
  font-weight: 500;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.start-btn {
  background-color: #1db05f;
  margin-right: 15px;
}

.stop-btn {
  background-color: #ef0d36;
  margin-right: 15px;
}

.reset-btn {
  background-color: #eaa800;
}
